package {{.Schema}}

import (
  "database/sql"
_ "github.com/lib/pq"
  // "fmt"
  "github.com/alfonsodev/yao/util"
)

type {{.Name}} struct {
	yaoDb               *sql.DB
  yaoWhereClauses     []util.WhereClause
	{{.StructFields}}
}

func (obj *{{.Name}}) Save() (*sql.Rows, error) {
    query := "INSERT INTO {{.Schema}}.{{.Table}} ({{.Keys}}) "
    query += " VALUES({{.Placeholders}}) "

    return obj.yaoDb.Query(query,
        {{.SaveFields}}
    )
}

func (obj *{{.Name}}) Where(field string, condition string, value string) {

	clause := util.WhereClause{
		Field: field,
		Condition: condition,
		Value: value,
	}

	obj.yaoWhereClauses = append(obj.yaoWhereClauses, clause)
}

func (obj *{{.Name}}) And(field string, condition string, value string) {

	clause := util.WhereClause{
		Field: field,
		Condition: condition,
		Value: value,
		Connector: "AND",
	}

	obj.yaoWhereClauses = append(obj.yaoWhereClauses, clause)

}

func (obj *{{.Name}}) Or(field string, condition string, value string) {

	clause := util.WhereClause{
		Field: field,
		Condition: condition,
		Value: value,
		Connector: "OR",
	}

	obj.yaoWhereClauses = append(obj.yaoWhereClauses, clause)
}

func (obj *{{.Name}}) Get() ([]{{.Name}}, error) {
	sql := "SELECT * FROM {{.Schema}}.{{.Table}} "
	sql += "WHERE "
	for i, v := range obj.yaoWhereClauses {
		if v.Connector != "" {
			sql += " " + v.Connector + " "
		}
		sql  += v.Field +  "  " + v.Condition + " " + string(i+1) 
	}
	sql = sql[:len(sql) - 5]
	rows, err := obj.yaoDb.Query(sql)

  var results []{{.Name}}
	for rows.Next() {
		var u {{.Name}}
		rows.Scan(
			{{.ScanFields}}
		)

		results = append(results, u)
	}

	return results, err
}

func (obj *{{.Name}}) All() ([]{{.Name}}, error) {
  var results []{{.Name}}
  query := "SELECT * FROM {{.Schema}}.{{.Table}} "
  rows, err := obj.yaoDb.Query(query)

  for rows.Next() {
    var u {{.Name}}
    rows.Scan(
      {{.ScanFields}}
    )

    results = append(results, u)
  }

  return results, err
}

func New{{.Name}} (db *sql.DB) {{.Name}} {
  var model {{.Name}}
  model.yaoDb = db
  return model 
}
